.commodity-form {
	background-color: #377CA8;
	padding: 20px;
	margin-bottom: 20px;
}

.commodity-form label {
	color: white;
}

.commodity-form input {
	margin-right: 10px;
}

#bulk-order-list {
	border: 1px solid #377CA8;
	margin-top: 20px;
	padding: 2px 15px 30px 15px;
}