.commodity-form {
	background-color: #377CA8;
	padding: 20px;
	margin-bottom: 10px;
}

.commodity-form label {
	color: white;
}

.commodity-form input {
	margin-right: 10px;
}

#bulk-order-list {

	margin-top: 20px;
	padding: 2px 0 30px 0;
}

#bulk-order-list h2 {
	margin-top: 20px;
	margin-bottom: 40px;
}

.cancel-item {
	font-size: 24px;
	float: right;
	color: white;
}

#add-form-button {
	float: right;
}

#send-order-button {
	float: right;
	width: 200px;
}

#dhis-header {
	background-color: #215E8C;
	width: 100%;
}

#dhis2-logo {

}

#title-header {

	display: inline-block;
	margin: 0 0 0 20px;
	padding: 10px 0 0 0;
	height: 67px;
	font-size: 30px;
	color: white;
}

#searchResults {
	display: none;
	position: absolute;
	background-color: white;
	padding: 5px;
	width: 289px;
	list-style-type: none;
}

#searchResults li {
}

#display-message{
	padding: 20px;
	background-color:#449d44;
	text-align: center;
	color:white;
	font-size:22px;
	margin-bottom:10px;
}
